<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580674287252-i8paoa9vrki2oa9de5mqjo6cousaigu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580674287252-i8paoa9vrki2oa9de5mqjo6cousaigu0</string>
	<key>API_KEY</key>
	<string>AIzaSyC9sgaH1WQg5xO-5HTlo_oD53NCy_03MvE</string>
	<key>GCM_SENDER_ID</key>
	<string>580674287252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codedisruptors.Alyx-Demo</string>
	<key>PROJECT_ID</key>
	<string>alyx-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>alyx-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:580674287252:ios:0e561aa5a684c832906681</string>
</dict>
</plist>
